<div class="container">
    Symbol: <input type="text" id="symbolToSearch" name="symbolToSearch" [(ngModel)]="model.symbolToSearch">
    <button type="submit" (click)="searchClick()" class="btn btn-primary" id="searchBtn">Search</button>
    <div *ngIf="errorMessage">
        <div class="alert alert-danger" role="alert">
            {{errorMessage}}
        </div>
    </div>
    <h3 *ngIf="!chart && !loading">
        Enter a symbol above to view the company's stock history.
    </h3>
    <app-loading-spinner *ngIf="loading" [loadingMessage]="loadingMessage"></app-loading-spinner>
    <div *ngIf="chart">
        <br>
        <div class="menu">
            <button *ngIf="!beginAtZero" type="button" class="btn btn-danger" (click)="beginAtZeroClick()" id="yAxisBtn">
                Begin Y Axis at 0
            </button>
            <button *ngIf="beginAtZero" type="button" class="btn btn-success" (click)="beginAtZeroClick()" id="yAxisBtn">
                Begin Y Axis at 0
            </button>
            <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="model.mode">
                <label *ngFor="let range of marketService.ranges" ngbButtonLabel class="btn-primary" (click)="modeSelectionClick(range)">
                    <input ngbButton type="radio" [value]="range">{{range}}
                </label>
            </div>
            <div *ngIf="this.loginService.loggedIn">
                <app-buy-stock-modal [symbol]="symbol"></app-buy-stock-modal>
                <app-sell-stock-modal [symbol]="symbol"></app-sell-stock-modal>
            </div>
        </div>
        <canvas baseChart [datasets]="chart.datasets" [labels]="chart.labels" [options]="chart.options" [chartType]="chart.chartType"></canvas>
    </div>
</div>