<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand" routerLink="">DMTrade</a>
        </div>
        <ul>
            <li><a routerLink="/browseMarket">Browse Market</a></li>
            <div *ngIf="!this.loginService.loggedIn">
                <li><a routerLink="/login">Login</a></li>
            </div>
            <div *ngIf="this.loginService.loggedIn">
                <li><a routerLink="/portfolios">Portfolios</a></li>
                <li><a (click)="logoutClick()">Logout</a></li>
            </div>
        </ul>
        <div class="loginHeader">
            {{loginHeader}}
        </div>
    </div>
</nav>
