<div class="container">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <th scope="col">
                Portfolio
            </th>
            <th scope="col">
                View
            </th>
            <th scope="col">
                Delete
            </th>
        </thead>
        <tbody>
            <tr *ngFor="let portfolio of portfolios">
                <td>
                    {{portfolio.getName()}}
                </td>
                <td>
                    <button type="button" class="btn btn-info" (click)="viewPortfolioClick(portfolio)">
                        View
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="deletePortfolioClick(portfolio)">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <app-post-portfolio-modal [portfoliosComponent]="this"></app-post-portfolio-modal>
</div>